# ===================================================
# CONECTA 360 - Variables de Entorno Frontend (Next.js)
# ===================================================

# Puerto de ejecución de la aplicación Next.js
PORT=3010

# Puerto del Backend (NestJS)
NEXT_PUBLIC_API_PORT=3003

# URL base del Backend para peticiones del cliente y SSR
NEXT_PUBLIC_API_URL=http://localhost:3003
