# Configuración de base de datos MySQL
DATABASE_URL="mysql://root:root@localhost:3306/conecta360"
PORT=3003

# Credenciales para el Seed inicial de SuperAdmin y Admin
SUPERADMIN_EMAIL=superadmin@conecta360.com
SUPERADMIN_PASSWORD=

ADMIN_EMAIL=admin@conecta360.com
ADMIN_PASSWORD=
